  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less --> 
    {% if 'ROLE_ADMIN' in app.user.roles %}
      <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="treeview">
            <a href="{{path('admin_user')}}">
              <i class="fa fa-dashboard"></i> <span>用户管理</span>
            </a>
          </li>
        </ul>
      </section>
      {% endif %}
      {% if 'ROLE_DIRECTOR' %}
      <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="treeview">
            <a href="{{path('admin_service')}}">
              <i class="fa fa-dashboard"></i> <span>客服管理</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="treeview">
            <a href="{{path('admin_ticket_list')}}">
              <i class="fa fa-dashboard"></i> <span>所有工单</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="treeview">
            <a href="{{path('admin_category_list')}}">
              <i class="fa fa-dashboard"></i> <span>类型管理</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="treeview">
            <a href="{{path('admin_faq_list')}}">
              <i class="fa fa-dashboard"></i> <span>常见问题模板</span>
            </a>
          </li>
        </ul>
      </section>
    {% endif %}
    <!-- /.sidebar -->
  </aside>