<!-- 模态框（Modal） -->
<div tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
          data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          添加类型
        </h4>
      </div>
      <div class="modal-body">
        <form  class="form-horizontal" action="{{ path('admin_category_create') }}" method="POST" accept-charset="utf-8" id="createCategoryForm">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">类型名</label>
            <div class="col-sm-10">
              <input id="name" name="name" type="text" class="form-control" placeholder="请输入类型名">
            </div>
          </div>
          <div class="form-group">
            <label for="priority" class="col-sm-2 control-label">优先级</label>
            <div class="col-sm-10">
              <select id="priority" name="priority" class="form-control" >
                <option value="">--优先级--</option>
                {{ select_options(dict('ticketPriority')) }}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="delayedTime" class="col-sm-2 control-label">滞留时间</label>
            <div class="col-sm-10">
              <input id="delayedTime" name="delayedTime" type="text" class="form-control" placeholder="请输入滞留时间 /分钟">
            </div>
          </div>
          <input type="hidden" name="parentId" value="{{ category.parentId }}"> 
          <div class="modal-footer">
            <button type="button" class="btn btn-default" 
            data-dismiss="modal">关闭
            </button>
            <button id="add" type="button" class="btn btn-primary">
            确认添加
            </button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<script src="{{ asset('assets/libs/validator/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/libs/validator/messages_cn.js') }}"></script>
<script src="{{ asset('assets/js/admin/category/validate-create-category-form.js') }}"></script>