<tbody>
<tr>
    <td>{{ category.name|default() }}</td>
    <td>{{ category.priority|default(0) }}</td>
    <td>
        {{ category.delayedTime / 60 }}
    </td>
    <td>
    <button type="button" class="btn btn-sm btn-success js-update-btn" data-toggle="modal" data-id = "{{category.id}}" data-target="#myModal" data-url="{{ path('admin_category_update',{id:category.id}) }}">编辑</button>
     <button type="button" class="btn btn-sm btn-danger js-delete-btn delete-category"  data-url="{{ path('admin_category_delete', {id:category.id})}}" data-id="{{category.id}}">删除</button>
    </td>
</tr>
</tbody>
