<div style="min-height: 916px;" class="content-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="box" style="border-top:0px;border-radius:0px;">
        <div class="box-header" style="margin-bottom:10px;">
          <h3 class="box-title">未分配工单</h3>
        </div>
        <form id="user-search-form" class="form-inline well well-sm" action="{{ path('ticket_unassigned_list', {userId:user['id']}) }}" method="get" novalidate="" style="border-radius:0px;">
          <div class="form-group" style="margin-bottom: 10px; ">
            <input size="16" name="startTime" class="form-control input-append date form_datetime" value="{{app.request.query.get('startTime')}}" placeholder="开始时间">
            <span class="add-on"><i class="icon-th"></i></span>-
            <input size="16" name="endTime" class="form-control input-append date form_datetime" value="{{app.request.query.get('endTime')}}" placeholder="结束时间">
            <span class="add-on"><i class="icon-th"></i></span>
          </div><br/>
          <div class="form-group">
        {#     <select name="category" class="form-control" >
              <option value="">--工单类型--</option>
              {% for category in categorys %}
                <option value="{{ category.id }}"{% if app.request.query.get('category') ==  category.id %} selected="selected" {% endif %}>{{ category.name }}</option>
              {% endfor %}
            </select> #}
            <select name="category" class="form-control" >
              {{ select_options(category_choices(), app.request.query.get('category'), '工单类型') }}
            </select>
          </div>
          <div class="form-group">
            <select name="priority" class="form-control" >
              <option value="">--优先级--</option>
              {{ select_options(dict('ticketPriority'), app.request.query.get('priority')) }}
            </select>
          </div>
          <div class="form-group">
            <select name="status" class="form-control" >
              <option value="">--状态--</option>
              {{ select_options(dict('ticketStatus'), app.request.query.get('status')) }}
            </select>
          </div>
          <div class="form-group">
            <select id="keywordType" name="keywordType" class="form-control">
              <option value="">--关键词类型--</option>
              <option value="ticketNo"{% if app.request.query.get('keywordType') == "ticketNo"%} selected="selected" {% endif %}>编号</option>
              <option value="title"{% if app.request.query.get('keywordType') == "title"%} selected="selected" {% endif %}>标题</option>
              <option value="username"{% if app.request.query.get('keywordType') == "username"%} selected="selected" {% endif %}>工单发起人</option>
            </select>
          </div>
          <div class="form-group">
            <input id="keyword" name="keyword" class="form-control" value="{{app.request.query.get('keyword')}}" placeholder="关键词" type="text">
          </div>
          {{ form_csrf_token() }}
          <button class="btn btn-primary">搜索</button>
        </form>

        <div class="box-body table-responsive no-padding">
          <table id="assignedTable" class="table table-hover js-table">
            <thead >
              <tr>
                <th>选择</th>
                <th>编号</th>
                <th>标题</th>
                <th>工单类型</th>
                <th style="text-align:center;">工单发起人</th>
                <th>优先级</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody class="list">
              {% for ticket in tickets %}
              <tr>
                <td><input id="{{ticket.id}}" type="checkbox" autocomplete="off" name="checkboxId" value="{{ticket.id}}"></td>
                <td>{{ ticket.ticketNo }}</td>
                <td><a href="{{ path('operator_ticket_detail',{id:ticket.id}) }}">{{ ticket.title }}</a></td>
                <td>{% set category = data('Category', {id:ticket.category}) %}{{ category.name }}
                </td>
                <td style="text-align:center;">{% set user = data('User', {userId:ticket.userId}) %}{{ user.username }}<h5><small>{{ ticket.created|date('Y-m-d H:i:s') }}</small></h5></td>
                <td>{{ dict_text('ticketPriority:html', ticket.priority) }}</td>
                <td>{{ dict_text('ticketStatus', ticket.status) }}</td>
                <td><button id="{{ ticket.id }}" type="button" class="btn btn-sm btn-success js-get-ticket" data-toggle="modal" data-id = "{{ ticket.id }}" data-target="#myModal" data-url="{{ path('ticket_receive',{id:ticket.id}) }}">领取</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {{ admin_macro.paginator(paginator) }}
        </div>
      </div>
    </div>
  </div>
</div>